[submodule "libaribb25-rs"]
	path = libaribb25-rs
	url = https://github.com/DuckFeather10086/libaribb25-rs.git
	branch = main
	ignore = untracked
[submodule "dvbr"]
	path = dvbr
	url = https://github.com/DuckFeather10086/dvbr.git
	branch = fix/sdt-arib-b24
	ignore = untracked
[submodule "isdbd"]
	path = isdbd
	url = https://github.com/DuckFeather10086/isdbd.git
	branch = feat/b25-pipeline-and-webui
	ignore = untracked
[submodule "libaribb24-rs"]
	path = libaribb24-rs
	url = https://github.com/DuckFeather10086/libaribb24-rs.git
	branch = main
	ignore = untracked
